h1    {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
       color:rgb(48, 73, 110);
       font-size: 75pt;
       text-align: center;
       background-image: url(pic.png);
       background-repeat: no-repeat;
       background-size: cover;}

p      {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;}

img {
       width: 320px;
       height: 320px;
       padding: 30px; /* Adding padding around the image */
       margin: 30px; /* Adding margin around the image */
       border: 5px solid #30496e; /* Adding a solid border */
   }

   @media handheld and (max-width: 480px),
          screen and (max-device-width: 480px),
          screen and (max-width: 480px){
              div{
                     -webkit-column-count: 1;
                     column-count: 1;
              }
          }