body {
    font-family: Georgia, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #73EC8B;
    background-image: url("earth.jpg");
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: #FF6500;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #7CF5FF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

textarea {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* account for padding */
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
    animation: buttonHover 0.3s forwards;
}

@keyframes buttonHover {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

h2 {
    color: #0B2F9F;
    margin-top: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 1.5em;
    }
}

#thankYouMessage {
    display: none;
    font-size: 20px;
    color: green;
    margin-top: 20px;
    text-align: center;
}

#formContainer {
    margin-bottom: 20px;
}

#submitButton {
    margin-top: 10px;
}
